MAIN_MODEL_NAME = ""
MAIN_MODEL_BASE_URL = ""
MAIN_MODEL_API_KEY = ""

SUB_MODEL_NAME = ""
SUB_MODEL_BASE_URL = ""
SUB_MODEL_API_KEY = ""


JUDGE_MODEL_NAME = ""
JUDGE_MODEL_BASE_URL = ""
JUDGE_MODEL_API_KEY = ""
